---
---

$section-headings-color: #0088cc;
$body-link-color: #159957;

@import "{{ site.theme }}";

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
  background-image: url("https://raw.githubusercontent.com/RiMillo/CV/gh-pages/img/minimalist_planets_dark.jpg");
  background-size: cover;
  background-position: center center;

  @include large {
    padding: 5rem 6rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}
